*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #fff1eb 25%, rgba(255, 51, 0, 0.25) 60%, 
  #fff1eb 100%);
}

.branch {
  position: absolute;
  background-size: cover;
  z-index: -1;
}

.branch-left {
  height: 135px;
  width: 136px;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
  background-image: url(images/leaf-branch-1.png);
}

.branch-right:nth-of-type(1n) {
  height: 147px;
  width: 107px;
  right: 0;
  top: 15%;
  background-image: url(images/leaf-branch-2.png);
}

.branch-right:nth-of-type(2n) {
  height: 287px;
  width: 268px;
  right: 0;
  top: 50%;
  background-image: url(images/leaf-branch-3.png);
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

#content {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: 900;
}

nav {
  display: flex;
  gap: 2rem;
}

.nav-btn {
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  padding: .5rem 1rem;
}

.nav-btn:hover {
  transform: scale(1.05);
}

.nav-btn:active {
  transform: translateY(1px);
}

.nav-btn span {
  padding-bottom: .3rem;
}

.nav-btn span.active {
  border-bottom: 3px solid #ff4e00;
  color: #ff4e00;
}

.main {
  flex: 1;
  padding: 0 2rem 2rem;
  display: grid;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.home h1 {
  font-size: 4rem;
  font-weight: 800;
}

.home p {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  max-width: 450px;
  padding: 2rem 1rem;
  color: #666666;
  font-size: 1.2rem;
}

.home img {
  max-width: 650px;
}

.order-btn {
  background-color: #ff4e00;
  color: #fff;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding: .5rem 2rem;
  margin-left: 1rem;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.order-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.order-btn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}